@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
:root {
  --base-unit      : 1rem;
  --border-radius  : calc( var( --base-unit ) *.5 );

  --color-black-13 : #202020;
  --color-black-50 : #808080;
  --color-black-90 : #E5E5E5;
  --color-black-95 : #F2F2F2;
  --color-white    : #ffffff;

}
/* ************************************************ */
/*                   Themes Start                   */
/* ************************************************ */
[data-theme='light'] {
  --box-shadow-01              : 0 0 1.25rem rgba( 0, 0, 0, .1 );
  --color-background           : var( --color-white );
  --color-background-contrast0 : var( --color-black-13 );
  --color-background-contrast1 : var( --color-black-50 );
  --color-background-contrast2 : var( --color-black-90 );
  --color-background-contrast3 : var( --color-black-95 );
}
/* ************************************************ */
/*                    Themes End                    */
/* ************************************************ */
/* ************************************************ */
/*                  Base CSS Start                  */
/* ************************************************ */
* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}
html {
  font-size: 16px;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background: var( --color-background );
}
hr {
  display: flex;
  height: 1px;
  padding: 0 var( --base-unit );
  margin: calc( var( --base-unit ) * 1.25 ) 0;
}
hr:after {
  background-color: var( --color-background-contrast2 );
  content: '';
  height: 100%;
  width: 100%;
}
/* ************************************************ */
/*                   Base CSS End                   */
/* ************************************************ */
/* ************************************************ */
/*                   Forms Start                    */
/* ************************************************ */
.inputsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var( --base-unit );
  margin-bottom: var( --base-unit );
}
input, select, textarea {
  background-color: var( --color-background );
  border-radius: var( --border-radius );
  box-shadow: var( --box-shadow-01 );
  font-size: 1rem;
  height: 3rem;
  line-height: 1rem;
  padding: 1rem;
  -webkit-appearance: none;
}
label {
  color: var( --color-background-contrast1 );
  font-size: .875rem;
  line-height: 1.3125rem;
  margin-bottom: .5rem;
}
/* ************************************************ */
/*                    Forms End                     */
/* ************************************************ */
/* ************************************************ */
/*                 Typography Start                 */
/* ************************************************ */
* {
  color: var( --color-background-contrast0 );
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
/* ************************************************ */
/*                  Typography End                  */
/* ************************************************ */
/* ************************************************ */
/*                   Screens Start                  */
/* ************************************************ */
screenContainer {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}
screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
screenTitle {
  background: var( --color-background-contrast3 );
  box-shadow: 0 -1px 0 0 inset var( --color-background-contrast2 );
  font-size: 1.25rem;
  line-height: 1.875rem;
  padding: var( --base-unit );
  width: 100%;
}
screenBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: var( --base-unit );
  padding-top: var( --base-unit );
}
/* ************************************************ */
/*                    Screens End                   */
/* ************************************************ */
