@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
:root {
  --base-unit            : 1rem;
  --border-radius        : calc( var( --base-unit ) * 3);
  --box-shadow-sizing    : 0 0 1.25rem;

  --color-black          : #000000;
  --color-black-5        : #0D0D0D;
  --color-black-10       : #1A1A1A;
  --color-black-13       : #202020;
  --color-black-20       : #333333;
  --color-black-50       : #808080;
  --color-black-87       : #DEDEDE;
  --color-black-90       : #E5E5E5;
  --color-black-95       : #F2F2F2;
  --color-purple         : #bf40bd;
  --color-white          : #ffffff;

  --color-main           : var( --color-purple );
  --color-background     : var( --color-main );
}
/* ************************************************ */
/*                   Themes Start                   */
/* ************************************************ */
[data-theme='light'] {
  --color-background-contrast0 : var( --color-black-13 );
  --color-background-contrast1 : var( --color-black-50 );
  --color-background-contrast2 : var( --color-black-90 );
  --color-background-contrast3 : var( --color-black-95 );
  --color-screen-bg            : var( --color-white );
  --box-shadow-01              : var( --box-shadow-sizing ) rgba( 0, 0, 0, .1 );
  --box-shadow-02              : var( --box-shadow-sizing ) rgba( 0, 0, 0, .2 );
  --box-shadow-03              : var( --box-shadow-01 ), inset 0 -1px 0 var( --color-main );
}
[data-theme='dark'] {
  --color-background           : var( --color-black );
  --color-background-contrast0 : var( --color-black-87 );
  --color-background-contrast1 : var( --color-black-50 );
  --color-background-contrast2 : var( --color-black-20 );
  --color-background-contrast3 : var( --color-black-5 );
  --color-screen-bg            : var( --color-black-13 );
  --box-shadow-01              : 0 0 0 2px var( --color-background-contrast2 );
  --box-shadow-02              : var( --box-shadow-sizing ) rgba( 0, 0, 0, .2 );
  --box-shadow-03              : 0 0 0 2px var( --color-main );
}
/* ************************************************ */
/*                    Themes End                    */
/* ************************************************ */
/* ************************************************ */
/*                  Base CSS Start                  */
/* ************************************************ */
* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background: var( --color-background );
}
hr {
  display: flex;
  height: 1px;
  margin: calc( var( --base-unit ) * 1.25 ) 0;
  padding: 0 var( --base-unit );
}
hr:last-child {
  order: 3;
}
hr:after {
  background-color: var( --color-background-contrast2 );
  content: '';
  height: 100%;
  width: 100%;
}
@media only screen and ( min-width: 769px ) {
  hr {
    height: auto;
    width: 1px;
    margin: 0 calc( var( --base-unit ) *1.25 );
    padding: var( --base-unit) 0;
  }
}
/* ************************************************ */
/*                   Base CSS End                   */
/* ************************************************ */
/* ************************************************ */
/*                   Forms Start                    */
/* ************************************************ */
.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: var( --base-unit );
  order: 2;
}
.inputContainer:first-child {
  order: 1;
}
.inputContainer.solveFor {
  order: 4;
}
.inputContainer.solveFor input{
  pointer-events: none;
}
.inputGroupContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var( --base-unit );
}
input:not([type="checkbox"]), select, textarea, .switchContainer label {
  background-color: var( --color-screen-bg );
  box-shadow: var( --box-shadow-01 );
}
input:not([type="checkbox"]), select, textarea {
  border-radius: var( --border-radius );
  display: flex;
  font-size: 1rem;
  height: 3rem;
  line-height: 1rem;
  padding: 1rem;
  min-height: 3rem;
  transition: box-shadow .3s;
  width: 100%;
  -webkit-appearance: none;
}
input:focus, select:focus, textarea:focus {
  box-shadow: var( --box-shadow-03 );
  -webkit-box-shadow: var( --box-shadow-03 );
}
label {
  color: var( --color-background-contrast1 );
  font-size: .875rem;
  line-height: 1.3125rem;
  margin-bottom: .5rem;
}
.switchContainer input {
  display: none;
}
.switchContainer label {
  background: var( --color-background-contrast1 );
  border-radius: 1.875rem;
  display: flex;
  height: 1.875rem;
  margin: 0;
  position: relative;
  transition: background .3s;
  width: 3.75rem;
}
.switchContainer label:after {
  background: var( --color-white );
  box-shadow: var( --box-shadow-01 );
  border-radius: 100%;
  content: '';
  display: flex;
  height: 1.875rem;
  left: 0;
  position: absolute;
  transition: all .3s;
  transform: translateX( 0 );
  top: 0;
  width: 1.875rem;
}
.switchContainer input:checked + label {
  background: var( --color-main );
}
.switchContainer input:checked + label:after {
  transform: translateX( 100% );
}
/* ************************************************ */
/*                    Forms End                     */
/* ************************************************ */
/* ************************************************ */
/*                    Grid Start                    */
/* ************************************************ */
grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var( --base-unit );
  width: 100%;
}
/* ************************************************ */
/*                     Grid End                     */
/* ************************************************ */
/* ************************************************ */
/*                    Icon Start                    */
/* ************************************************ */
.icon--github {
  height: 2rem;
  margin-top: 1rem;
  transition: opacity .3s;
  width: 2rem;
}
.icon--github:hover {
  opacity: .5;
}
.icon--github path {
  fill: #fff;
}
@media only screen and ( max-height: 1024px ) {
  .icon--github {
    display: none;
  }
}
/* ************************************************ */
/*                     Icon End                     */
/* ************************************************ */
/* ************************************************ */
/*                 Typography Start                 */
/* ************************************************ */
html {
  font-size: 16px;
}
* {
  color: var( --color-background-contrast0 );
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
@media only screen and ( max-width: 375px ) {
  html {
    font-size: 14px;
  }
}
/* ************************************************ */
/*                  Typography End                  */
/* ************************************************ */
/* ************************************************ */
/*                   Screens Start                  */
/* ************************************************ */
screenContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 100%;
}
screen {
  background: var( --color-screen-bg );
  box-shadow: var( --box-shadow-02 );
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
screenTitle {
  align-items: center;
  background: var( --color-background-contrast3 );
  box-shadow: 0 -1px 0 0 inset var( --color-background-contrast2 );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  line-height: 1.875rem;
  padding: var( --base-unit );
  width: 100%;
}
screenBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: var( --base-unit );
  padding-top: var( --base-unit );
}
@media only screen and ( min-width: 769px ) {
  screen {
    max-height: 35rem;
    max-width: 75rem;
    width: 90vw;
  }
  screenBody {
    display: grid;
    grid-template-columns: 1fr calc( 2.5rem + 1px ) 3fr;
  }
}
@media only screen and ( min-height: 1025px ) {
  screen {
    height: auto;
  }
}
/* ************************************************ */
/*                    Screens End                   */
/* ************************************************ */
